<div class="header">
  <div class="top-header">
    <div class="logo">Social<span class="thin">Network</span></div>
    <div class="search-container">
      <mat-icon aria-hidden="false" aria-label="Search" class="search-icon">search</mat-icon>
      <input type="text" placeholder="Find...">
    </div>
    <div class="complimentary">
      <button class="upload">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="arrow">
          arrow_upward
        </mat-icon>
        Upload
      </button>
      <div class="profile-container">
        <div class="profile">
          <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
        </div>
        <div class="name">
          <div class="first-name">Waseem</div>
          <div class="last-name">Arshad</div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-header">
    <div class="sub-menu">
      <a href="#">Videos</a>
    </div>
    <div class="sub-menu">/</div>
    <div class="sub-menu">
      <a href="#">People</a>
    </div>
    <div class="sub-menu">/</div>
    <div class="sub-menu">
      <a href="#">Documents</a>
    </div>
    <div class="sub-menu">/</div>
    <div class="sub-menu">
      <a href="#">Events</a>
    </div>
    <div class="sub-menu">/</div>
    <div class="sub-menu">
      <a href="#">Communities</a>
    </div>
    <div class="sub-menu">/</div>
    <div class="sub-menu">
      <a href="#">Favorites</a>
    </div>
    <div class="sub-menu">/</div>
    <div class="sub-menu">
      <a href="#">Channels</a>
    </div>
  </div>
</div>
