.activity-panel {
  padding-left: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.panel-body {
  border-top: 2px solid #f8f6d4;
  border-bottom: 2px solid #f8f6d4;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: auto;
  flex: 1;
}

.panel-item {
  padding: 0.5em;
  display: flex;
  font-weight: 300;
  min-height: 5em;
  cursor: pointer;
}

.active {
  border: 1px solid #f8f6d4;
}

.panel-item .cover-container {
  display: flex;
  align-items: center;
}

.panel-item .cover-container .cover-image {
  background-color: #f8f6d4;
  width: 8em;
  height: 4.5em;
}

.body {
  flex: 1;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}

.body .profile-action {
  flex: 1;
  margin-bottom: .2em;
}
.body .profile-action b {
  font-size: 1.2em;
}

.body .detail {
  flex: 1;
  margin-bottom: .2em;
}

.body .timestamp {
  display: flex;
  align-items: center;
  flex: 1;
}
.body .timestamp .time {
  margin-left: 0.2em;
  font-size: 0.9em;
}

@media only screen and (max-width: 60em) {
  .activity-panel {
    padding-left: 0;
    margin-top: 1em;
  }
  .panel-body {
    max-height: 35em;
  }
}
