<div class="footer">
  <div class="social-media-container">
    <div class="social">
      <a href="#">
        <img src="/assets/social-twitter.png" alt="Twitter" width="32">
      </a>
    </div>
    <div class="social">
      <a href="#">
        <img src="/assets/social-facebook.png" alt="Facebook" width="32">
      </a>
    </div>
    <div class="social">
      <a href="#">
        <img src="/assets/social-linkedin.png" alt="Linked-in" width="32">
      </a>
    </div>
  </div>
  <div class="menu-option-container">
    <div>
      <a href="#">About</a>
    </div>
    <div>/</div>
    <div>
      <a href="#">For Business</a>
    </div>
    <div>/</div>
    <div>
      <a href="#">Suggestions</a>
    </div>
    <div>/</div>
    <div>
      <a href="#">Help & FAQs</a>
    </div>
    <div>/</div>
    <div>
      <a href="#">Contacts</a>
    </div>
    <div>/</div>
    <div>
      <a href="#">Pricing</a>
    </div>
  </div>
  <div class="copyright-container">
    <div class="copyright">
      <mat-icon aria-hidden="false" aria-label="Arrow" class="arrow">
        copyright
      </mat-icon> &nbsp; 2020 companyname.inc
    </div>
    <div class="menu-option-container">
      <div>
        <a href="#">Privacy</a>
      </div>
      <div>/</div>
      <div>
        <a href="#">Terms</a>
      </div>
    </div>
  </div>
</div>
